
<div *ngIf=" !isLogin">
	<p>
	  Login Page!
	</p>
	<form [formGroup]="myForm">
	   	<input type="text" formControlName="name" placeholder="Name">
	   	<input type="password" formControlName="password" placeholder="Password">
	  	<button type="button" (click)="submit()">Login</button>
	</form>
</div>	
<div *ngIf= " isLogin">
	<p>
	  Welcome!
	</p>
	<form [formGroup]="myFormManipulasi">
	   	<input type="text" formControlName="name" placeholder="Name">
	   	<input type="text" formControlName="address" placeholder="Address">
	   	<input type="text" formControlName="telp" placeholder="Telepon">
	   	<div *ngIf=" isAdd">
	   		<button type="button" (click)="add()">Add</button>
	   	</div>
	   	<div *ngIf=" !isAdd">
	   		<button type="button" (click)="save()">Save</button>
	   	</div>
	</form>
	<app-customer-list (dataCustomer)=receiveDataFromChild($event)></app-customer-list>
</div>





