
<!-- <div *ngIf=" !isLogin">
	<p>
	  Login Page!
	</p>
	<form [formGroup]="myForm">
	   	<input type="text" formControlName="name" placeholder="Name">
	   	<input type="password" formControlName="password" placeholder="Password">
	  	<button type="button" (click)="submit()">Login</button>
	</form>
</div>	
<div *ngIf= " isLogin">
	<p>
	  Welcome!
	</p>
	<table>
		<thead>
			<tr>
				<th>Name Customer</th>
			</tr>
		</thead>
		<tbody>
			<ng-container *ngFor=" let customer of customers " >
			<tr > 
				<td > {{customer.name}} </td>
			</tr>
			</ng-container>
		</tbody>
	</table>
</div> -->
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>Telp</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<ng-container *ngFor=" let customer of customers " >
		<tr > 
			<td > {{customer.name}} </td>
			<td > {{customer.address}} </td>
			<td > {{customer.telp}} </td>
			<td > <p (click)="editData(customer)"> Edit  </p> 
				  <p (click)="deleteData(customer._id)"> Hapus  </p> 
			</td>
		</tr>
		</ng-container>
	</tbody>
</table>